---
import Layout from "../../layouts/Layout.astro";
import cheerio from "cheerio";
import PackageCard from "../../components/PackageCard.astro";

interface Props {
  user: string;
}

const { user } = Astro.params;

const body = await fetch(`https://www.npmjs.com/~${user}`).then((res) => res.text());

const $ = cheerio.load(body);
const side = $('[class^="_73a8e6f0"]');

const avatar = $('img[src^="/npm-avatar"]')?.attr("src") || null;
const name = side.find(".eaac77a6.mv2").text();

// Packages
let packages: {
  name: string;
  description: string;
  version: string;
}[] = [];

$("section.ef4d7c63").each(function () {
  const name = $(this).find("h3").text().trim();
  const description = $(this).find("p").text().trim();
  const versionText = $(this).find(".flex-ns").text().trim();

  const versionRegex = /\b\d+\.\d+\.\d+\b/g; 
  const versionMatches = versionRegex.exec(versionText);
  const version = versionMatches ? versionMatches[0] : "Versione non trovata";

  const packageInfo = {
    name: name,
    description: description,
    version: version,
  };

  packages.push(packageInfo);
});
---

<Layout
  title={name as string || user as string}
  img={`https://www.npmjs.com${avatar}`}
  description={`${name || user} on npm | ${packages.length} packages`}
>
  <div class="space-y-3 space-x-3 md:flex">
    <div class="text-center md:w-1/3 bg-surface rounded-xl pt-10">
      <img class="h-48 w-48 rounded-full md:h-64 md:w-64" src={`https://www.npmjs.com${avatar}`} />
      <br />
      <div class="flex items-center justify-center space-x-2 pt-5 text-xl">
        <span class="bg-background p-2 pl-3 pr-3 rounded-lg w-48">{name || `~${user}`}</span>
      </div>
    </div>

    <div class="md:w-2/3 flex flex-col gap-4">
      {
        packages.map((pkg) => {
          return (
            <a class="text-white no-underline" href={`/${pkg.name}`}>
              <PackageCard {...pkg} />
            </a>
          );
        })
      }
    </div>
  </div>
</Layout>
