---
import Layout from "../../../layouts/Layout.astro";
import PackageCard from "../../../components/PackageCard.astro";
import type { PackageSearch } from "../../../types/Package";

const q = Astro.url.searchParams.get("q");

if (!q) return Astro.redirect("/");

const results = await fetch(`https://registry.npmjs.com/-/v1/search?text=${q}`).then(
  (res) => res.json() as Promise<{ objects: { package: PackageSearch }[] }>,
);
---

<Layout
  title={`Search results for "${q}"`}
  description={`${results.objects.length} results for "${q}" on npm`}
>
  <div class="flex flex-col gap-4 p-3">
    {
      results.objects.length ? (
        results.objects.map((data) => {
          const pkg = data.package;

          return (
            <a class="text-white no-underline" href={`/${pkg.name}`}>
              <PackageCard {...pkg} />
            </a>
          );
        })
      ) : (
        <div class="flex flex-col items-center justify-center gap-2 text-white">
          <h1 class="text-2xl font-bold">No results found for "{q}"</h1>
        </div>
      )
    }
  </div>
</Layout>
