---
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";
import type { PackageGeneral, PackageDetailed } from "../../types/Package.ts";

interface Props {
  pkg: string;
}

const { pkg } = Astro.params;

const [general, detailed] = await Promise.all([
  fetch(`https://registry.npmjs.com/${pkg}`).then((res) => res.json() as Promise<PackageGeneral>),
  fetch(`https://registry.npmjs.com/${pkg}/latest`).then(
    (res) => res.json() as Promise<PackageDetailed>,
  ),
]);
---

<Layout title={pkg}>
  <main class="w-full overflow-x-hidden">
    <div class="bg-surface rounded-lg p-5 md:pl-8 md:pr-8">
      <div class="bg-surface text-2xl font-semibold">
        {detailed.name}
        <span class="rounded bg-green-600 p-1 pl-2 pr-2 text-xl">{detailed.version}</span>
      </div>

      <p class="bg-surface text-lg">
        {detailed.description}
      </p>

      <div>
        {
          detailed.keywords
            ? detailed.keywords.map((keyword: string) => {
                return <span class="pl-1 pr-1 font-semibold">#{keyword}</span>;
              })
            : ""
        }
      </div>
    </div>

    <br />

    <div class="space-y-3 md:flex md:space-x-3 md:space-y-0">
      <div class="md:w-3/4">
        <div class="bg-surface rounded-lg p-2 pl-4 pr-4" set:html={marked.parse(general.readme)} />
      </div>

      <div class="bg-surface rounded-lg pb-2 pl-4 pr-4 pt-2 md:w-1/4">
        <h3>Install</h3>
        <code class="bg-background rounded-lg border p-2 pl-5 pr-5">
          npm i {detailed.name}
        </code>

        <h3>Metadata</h3>
        <ul class="list-disc pl-5">
          <li>
            License: {detailed.license || "Unknow"}
          </li>

          <li>
            Node: {detailed.engines ? detailed.engines.node || "Whatever" : "Whatever"}
          </li>

          <li>
            Author: {detailed.author?.name || "Unknow"}
          </li>
        </ul>

        <h3>Maintainers</h3>
        <div>
          {
            detailed.maintainers
              ? detailed.maintainers.map((user) => {
                  return (
                    <div>
                      <>
                        <span>{user.name}</span>
                        <br />
                      </>
                    </div>
                  );
                })
              : detailed.author.name
          }
        </div>
      </div>
    </div>
  </main>
</Layout>

<style is:global>
  a {
    @apply font-bold text-blue-600 no-underline hover:underline;
  }

  img {
    @apply rounded;
  }

  pre code {
    @apply font-code bg-background inline-flex rounded p-3;
  }

  code {
    @apply bg-background rounded p-1 text-sm;
  }
</style>
